<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
</head>

<body>
    <h2>
        <a href="/">Back to Main Page</a>
        Insta485
        <a href="/explore/">explore</a>
        <a href="/users/{{ logname }}/">{{ logname }}</a>
    </h2>
    <p>{{ username }}</p>
    <form action="/accounts/?target={{url_for('create')}}" method="post" enctype="multipart/form-data">
        <input type="submit" name="delete" value="confirm delete account" />
        <input type="hidden" name="operation" value="delete" />
    </form>


</body>

</html>